{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "default-case": 0,
        "comma-dangle": 0,
        "indent": ["error", 4, {
            "SwitchCase": 1
        }],
        "prefer-const": ["error", {
            "destructuring": "any"
        }],
        "no-underscore-dangle": "off",
        "no-bitwise": ["error", { 
            "allow": ["^", "^="] 
        }],
        "no-trailing-spaces": ["error", { 
            "skipBlankLines": true 
        }],
    },
    "env": {
        "browser": true,
        "node": true
    }
}
